/* remove default margin and padding */
html, body {
    margin: 0 !important;
    padding: 0 !important;
}

/* remove default styles from leaflet div icons */
.leaflet-div-icon {
    background: unset !important;
    border: unset !important;
}

/* use custom font for rust monument markers */
.rust-map-monument-text {
    color:#000000;
    white-space:nowrap;
    font-family:PermanentMarker,sans-serif;
}

.chinook-blade-spin-clockwise {
    animation:chinook-blade-spin-clockwise 0.6s infinite linear
}

.chinook-blade-spin-anticlockwise {
    animation:chinook-blade-spin-anticlockwise 0.6s infinite linear
}

@keyframes chinook-blade-spin-clockwise {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}

@keyframes chinook-blade-spin-anticlockwise {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(-359deg)
    }
}

/* add font used by rust map */
@font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker.ttf');
}